<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_layout}">

<div layout:fragment="content">
    <h2>Sửa Chương [[${chapter.chapterNumber}]] - [[${chapter.story.title}]]</h2>
    <form method="post" th:action="@{/admin/chapters/save}" th:object="${chapter}">
        <label>Chương</label>
        <input type="number" th:field="*{chapterNumber}" style="width:700px"/><br/>

        <label>Tiêu đề:</label>
        <input type="text" th:field="*{title}" style="width:700px"/><br/>

        <label>Nội dung:</label><br/>
        <textarea th:field="*{content}" rows="10" cols="100"></textarea><br/>
		<label>Kích hoạt:</label>
        <input type="checkbox" th:field="*{active}"/><br/>
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{story.id}"/>

        <button type="submit">Lưu</button>
    </form>
</div>
</body>
</html>